# ASP.NET / .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dbmdl
*.pdb
*.cache/
.vs/
*.log

# Configuração local
appsettings.Development.json

# Angular
Client/node_modules/
Client/dist/
Client/.angular/cache/
Client/.angular/

# Geral
.env
*.env
*.DS_Store
Thumbs.db
